venv
plans
.pytest_cache
.venv
*.bak
__pycache__/
/node_modules
/frontend/node_modules/
/context_portal
.roo
.ha_run.lock
.HA_VERSION
automations.yaml
configuration.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
scenes.yaml
scripts.yaml
secrets.yaml
.storage/auth
.storage/auth_provider.homeassistant
.storage/core.uuid
.storage/http.auth
blueprints/script/homeassistant/confirmable_notification.yaml
.storage/assist_pipeline.pipelines
.storage/bluetooth.passive_update_processor
.storage/core.analytics
.storage/core.area_registry
.storage/core.config
.storage/core.config_entries
.storage/core.device_registry
.storage/core.entity_registry
.storage/core.restore_state
.storage/homeassistant.exposed_entities
.storage/http
.storage/lovelace
.storage/lovelace_dashboards
.storage/lovelace_resources
.storage/lovelace.map
.storage/marees_france_coefficients_cache
.storage/marees_france_tides_cache
.storage/marees_france_water_levels_cache
.storage/marees_france_water_temp_cache
.storage/onboarding
.storage/person
.storage/repairs.issue_registry
.storage/trace.saved_traces
blueprints/automation/homeassistant/motion_light.yaml
blueprints/automation/homeassistant/notify_leaving_zone.yaml
